//Page index//
.card{
    margin: 50px;
    border: solid 1px black;
    border-radius: 20px;
 
}
.card:hover{
    transform: scale(1.2);

}
.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

main{
    background:url("/Frontend/photo.jpg") no-repeat fixed center;
    background-size: cover;
}

